# Generated experiment results
results/baselines/*
!results/baselines/.gitkeep

results/captures/*
!results/captures/.gitkeep

results/benchmarks/*
!results/benchmarks/.gitkeep


# Experiment 004 results
experiments/004-kex-benchmark/results/*
!experiments/004-kex-benchmark/results/.gitkeep

experiments/004-kex-benchmark/results/plots/*
!experiments/004-kex-benchmark/results/plots/.gitkeep

experiments/004-kex-benchmark/results/processed/*
!experiments/004-kex-benchmark/results/processed/.gitkeep

experiments/004-kex-benchmark/results/raw/*
!experiments/004-kex-benchmark/results/raw/.gitkeep
